// Cores
$color-background: #f4f4f4;
$color-text: #333;
$color-text-light: #666;
$color-header-bg: #333;
$color-header-text: white;
$color-footer-bg: #333;
$color-footer-text: white;

// Fontes
$font-family: Arial, sans-serif;

// Espaçamento
$spacing: 20px;

// Tamanhos de texto
$text-size-title: 24px;
$text-size-subtitle: 16px;
$text-size-header: 22px;
$text-size-section-title: 26px;
$text-size-footer: 14px;
